.button { 
	background: $blue;
	border: none;
	color: white;
	display: inline-block;
	font-size: $font-size-large;
	font-weight: 300;
	line-height: 1;
	padding: $s-size;
	text-decoration: none;
}

.button--secondary {
	background: #888888;
}

.button--link {
	background: none;
}

.button--modal {
	margin-right: $s-size;
}

.button--csvlink {
	background: #888888;
	font-size: $font-size-small;
}