.graph {
	padding: $s-size $s-size;
	padding-top: $l-size;
}

.graph-display {
	display: flex;
	justify-content: center;
	margin-top: $l-size;
}

.graph-legend {
	display: flex;
	justify-content: space-between;
	margin: 0 15rem;
}

.graph-title {
	font-weight: 300;
	margin: 0 auto;
	span {
		font-weight: bold;
	}
}

.rv-xy-plot__grid-lines__line {
    stroke: gray;
    stroke-width: 0.2;
}

.rv-xy-plot__axis {
	stroke: gray;
	stroke-width: 0.4;
}

.rv-xy-plot__series--label {
	display: none;
	font-size: 1.2rem;
	@media (min-width: $desktop-breakpoint) {
		display: block;
	}
}