.header {
	background: $dark-blue;
}

.header__content {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: $s-size 0;
}

.header__links {
	@extend .header__content;
	display: flex;
	justify-content: space-around;
}

.header__link {
	margin-left: $m-size;
}

.header__title {
	color: white;
	text-decoration: none;
	h1 {
		margin: 0;
	}
}